#filter-section{
    display: flex;
    justify-content: center;
    
}

select{
    display: flex;
    text-align: center;
    cursor: pointer;
    margin-top: 5px;
    width: 100px;
}

button{
    cursor: pointer;
    margin-top: 5px;
}

#sort-section{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#sort{
    width: 100px;
}